In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder

In [2]:
import torch

In [3]:
df = pd.read_csv(r'C:\\Users\\kingc\\OneDrive - hamilton.edu\\CPSCI307_deep_learning\\house-prices-advanced-regression-techniques\\test.csv')

In [4]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition'],
      dtype='object')

In [5]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [6]:
# drop the Id column
df.drop('Id', axis=1, inplace=True)

In [7]:
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [23]:
df_dtypes = df.dtypes
for i in df_dtypes:
    print(i)

int64
object
float64
int64
object
object
object
object
object
object
object
object
object
object
object
object
int64
int64
int64
int64
object
object
object
object
object
float64
object
object
object
object
object
object
object
float64
object
float64
float64
float64
object
object
object
object
int64
int64
int64
int64
float64
float64
int64
int64
int64
int64
object
int64
object
int64
object
object
float64
object
float64
float64
object
object
object
int64
int64
int64
int64
int64
int64
object
object
object
int64
int64
int64
object
object

In [13]:
df.loc[:, 'MSZoning'].unique()

array(['RH', 'RL', 'RM', 'FV', 'C (all)', nan], dtype=object)

In [17]:
MSZoning_one_hot = pd.get_dummies(df.loc[:, 'MSZoning'], dtype=int)
MSZoning_one_hot

      C (all)  FV  RH  RL  RM
0           0   0   1   0   0
1           0   0   0   1   0
2           0   0   0   1   0
3           0   0   0   1   0
4           0   0   0   1   0
...       ...  ..  ..  ..  ..
1454        0   0   0   0   1
1455        0   0   0   0   1
1456        0   0   0   1   0
1457        0   0   0   1   0
1458        0   0   0   1   0

[1459 rows x 5 columns]

In [18]:
torch.from_numpy(MSZoning_one_hot.values)

tensor([[0, 0, 1, 0, 0],
        [0, 0, 0, 1, 0],
        [0, 0, 0, 1, 0],
        ...,
        [0, 0, 0, 1, 0],
        [0, 0, 0, 1, 0],
        [0, 0, 0, 1, 0]], dtype=torch.int32)

In [26]:
# drop the raw columns and concatenate the new one-hot encoding
df.drop('MSZoning', axis=1, inplace=True)
df = pd.concat([df, MSZoning_one_hot], axis=1)

In [27]:
df.head()

,MSSubClass,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,MiscVal,MoSold,YrSold,SaleType,SaleCondition,C (all),FV,RH,RL,RM
0,20,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,...,0,6,2010,WD,Normal,0,0,1,0,0
1,20,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,...,12500,6,2010,WD,Normal,0,0,0,1,0
2,60,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,...,0,3,2010,WD,Normal,0,0,0,1,0
3,60,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,Inside,Gtl,...,0,6,2010,WD,Normal,0,0,0,1,0
4,120,43.0,5005,Pave,NaN,IR1,HLS,AllPub,Inside,Gtl,...,0,1,2010,WD,Normal,0,0,0,1,0

## So far, we figure one columns, but actually we can directly use pd.get_dummies to process whole dataset

In [29]:
new_df = pd.get_dummies(df, dtype=int)

In [32]:
new_df.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,20,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,...,0,0,0,1,0,0,0,0,1,0
1,20,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,...,0,0,0,1,0,0,0,0,1,0
2,60,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,...,0,0,0,1,0,0,0,0,1,0
3,60,78.0,9978,6,6,1998,1998,20.0,602.0,0.0,...,0,0,0,1,0,0,0,0,1,0
4,120,43.0,5005,8,5,1992,1992,0.0,263.0,0.0,...,0,0,0,1,0,0,0,0,1,0

In [33]:
df_tensor = torch.from_numpy(new_df.values)

In [34]:
df_tensor

tensor([[2.0000e+01, 8.0000e+01, 1.1622e+04,  ..., 0.0000e+00, 1.0000e+00,
         0.0000e+00],
        [2.0000e+01, 8.1000e+01, 1.4267e+04,  ..., 0.0000e+00, 1.0000e+00,
         0.0000e+00],
        [6.0000e+01, 7.4000e+01, 1.3830e+04,  ..., 0.0000e+00, 1.0000e+00,
         0.0000e+00],
        ...,
        [2.0000e+01, 1.6000e+02, 2.0000e+04,  ..., 0.0000e+00, 0.0000e+00,
         0.0000e+00],
        [8.5000e+01, 6.2000e+01, 1.0441e+04,  ..., 0.0000e+00, 1.0000e+00,
         0.0000e+00],
        [6.0000e+01, 7.4000e+01, 9.6270e+03,  ..., 0.0000e+00, 1.0000e+00,
         0.0000e+00]], dtype=torch.float64)

## We do not process missing values yet. There are many ways to handel missing value.
1. We can delete the columns if they contain missing values
2. We can replace the missing value by average value of this columns
3. We can conside missing value is a new value
4. We can use other machine learning methods condut interpolating